<h1>
  ようこそ
  <strong>Bookers</strong>
  へ!
</h1>
<div class="top">
 
 <P>
 <strong>Bookers</strong>    
 では書籍に関するあなたの意見や
 </P>

 <p>
 印象を共有し交換することができます    
 </p>
 </div>
 
<div id="start">
 <P> <%= link_to "start", "/books",data: {"turbolinks" => false}, class:"link" %> </p>
</div>
